.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-image: url("../img/year@1x.png");
  background-repeat: no-repeat;
  background-position: left -30px center;
  background-size: 220px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/year@2x.png");
  }

  .about-us__description {
    width: 84.5%;
    margin-left: auto;
  }

  h2 {
    margin: 0;
    margin-bottom: 20px;

    @include roboto(400, 36px, 51px);
  }

  p {
    margin: 0;
    margin-bottom: 21px;
  }
}

@media (max-width: $tablet-width) {
  .about-us {
    min-height: 251.08px;

    background-position: left -34px top;
    background-size: 251px;


    h2 {
      margin-bottom: 25px;

      font-size: 32px;
      line-height: 140.62%;
    }

    div p:last-child {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;

      -webkit-line-clamp: 4;
    }

    .about-us__description {
      width: 74%;
      margin-left: auto;
    }
  }
}

@media (max-width: $mobile-width) {
  .about-us {
    background: none;

    h2 {
      margin-bottom: 19px;

      font-size: 28px;
      line-height: 140.62%;
    }

    .about-us__description {
      width: 100%;
    }

    div p:last-child {
      -webkit-line-clamp: 8;
    }

    p {
      margin-bottom: 41px;
    }
  }
}
