.button {
  display: inline-block;
  padding: 12px 12px 11px;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;

  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;

  @include roboto(700, 14px, 16px);

  &:hover,
  &:focus {
    @include hover;
  }

  &--header {
    width: 180px;
    margin-left: 51px;

    &:hover,
    &:focus {
      background-color: $blue;
      border-color: $blue;

      @include hover(white);
    }
  }

  &--general {
    width: 180px;
    margin-top: 19px;
    margin-bottom: 25px;

    color: $blue;

    border-color: $blue;

    &:hover,
    &:focus {
      background-color: $blue;
      border-color: $blue;

      @include hover(white);
    }
  }
}

@media (max-width: $tablet-width) {
  .button {
    &--header {
      display: none;
    }

    &--general {
      padding: 14px;
    }
  }
}

@media (max-width: $mobile-width) {
  .button {
    &--general {
      margin-top: -12px;
    }
  }
}
