.button {
  display: inline-block;
  padding: 12px 12px 11px;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;

  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;

  @include roboto(700, 14px, 16px);

  &:hover,
  &:focus {
    cursor: pointer;
  }
}
