.contents {
  width: 39%;

  h2 {
    width: 100%;
    margin: 0;
    margin-bottom: 25px;

    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    @include roboto(400, 15px, 16px);
  }

  ul {
    margin: 0;
    padding: 0;

    list-style: none;
    column-count: 2;
    column-gap: 12%;
  }

  li {
    width: 100%;
    margin-right: 42px;
  }

  a {
    color: #1b2d37;
    text-decoration: none;

    opacity: 0.5;

    @include mono(15px, 25px);
    @include not-hover;

    &:hover,
    &:focus {
      @include hover;
    }
  }
}

.contents__description {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media (max-width: $tablet-width) {
  .contents {
    ul {
      column-count: 1;
    }
  }
}

@media (max-width: $mobile-width) {
  .contents {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding-top: 30px;

    h2 {
      width: auto;
      margin-right: auto;
      margin-left: 0;
    }

    ul {
      margin-bottom: 26px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -100%;

      width: 200vw;
      height: 1px;

      background-color: #626962;
      opacity: 0.5;
    }
  }

  .contents__description {
    display: none;
  }
}
