.copyright {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 59px;
  padding-top: 14px;
  padding-bottom: 14px;

  color: #1b2d37;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  @include mono(13px, 24px);

  .copyright__law {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 457px;
  }


  p {
    margin: 0;
    padding: 0;

    opacity: 0.5;
  }

  a {
    color: #1b2d37;
    text-decoration: none;

    opacity: 0.5;

    &:hover,
    &:focus {
      @include hover;
    }
  }

  .copyright__confidence {
    margin-right: auto;
    margin-left: 10%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;

    width: 200vw;
    height: 1px;

    background-color: #626962;
    opacity: 0.5;
  }
}

@media (max-width: $tablet-width) {
  .copyright {
    margin-top: 38px;
    padding-top: 21px;
    padding-bottom: 24px;

    .copyright__law {
      display: none;
    }

    .copyright__confidence {
      margin-left: 0;
    }
  }
}

@media (max-width: $mobile-width) {
  .copyright {
    margin: 0;
    padding-top: 30px;

    text-align: center;

    a {
      width: fit-content;
      margin: 0 auto;
    }

    .copyright__confidence {
      margin-right: auto;
      margin-bottom: 21px;
      margin-left: auto;
    }
  }
}
