.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
  padding-top: 65px;

  button {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .footer {
    padding-top: 18px;
  }
}

@media (max-width: $mobile-width) {
  .footer {
    padding-top: 46px;

    button {
      display: block;
      width: 16px;
      height: 16px;

      font-size: 0;
      line-height: 0;

      background-color: transparent;
      background-image: url("../img/svg/open-button.svg");
      background-repeat: no-repeat;
      background-position: center;
      border: none;

      &:hover,
      &:focus {
        @include hover;
      }
    }

    .footer__button-close {
      background-image: url("../img/svg/close-button.svg");
    }

    .footer__close {
      display: block;
    }
  }
}
