.header {
  color: white;

  background-color: $black;
  background-image: url("../img/header-desktop@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/header-desktop@2x.jpg");
    background-size: cover;
  }

  .header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 73.5%;
    min-width: 900px;
    margin: 0 auto;
    margin-bottom: 228px;
    padding-top: 31px;

    text-align: left;
  }

  .header__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    color: white;
    text-decoration: none;

    @include mono(16px, 18px);

    &--mail {
      width: 135px;
      margin-right: 6.3%;
    }

    &--tel {
      width: 207px;
      margin-right: 3.5%;
    }

    &:hover,
    &:focus {
      color: $blue;

      outline: none;
      cursor: pointer;
    }
  }

  .button {
    width: 180px;

    &:hover,
    &:focus {
      background-color: $blue;
      border-color: $blue;
      outline: none;
    }
  }
}

@media (max-width: $tablet-width) {
  .header {
    background-image: url("../img/header-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-tablet@2x.jpg");
      background-size: 100vw auto;
    }

    .header__nav {
      min-width: 720px;
      margin-bottom: 113px;
      padding-top: 19px;
    }

    .header__link {
      padding: 0;

      font-size: 0;
      line-height: 0;

      &--mail {
        width: 25.33px;
        margin-right: 33px;

        svg {
          width: 25.33px;
          height: 18.67px;
        }
      }

      &--tel {
        width: 24px;
        margin-right: 0;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }

    .button {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .header {
    background-image: url("../img/header-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-mobile@2x.jpg");
      background-size: 100vw auto;
    }

    .header__nav {
      width: 90%;
      min-width: 288px;
      margin-bottom: 231.5px;
      padding-top: 16.5px;
    }

    .header__link--mail {
      margin-right: 23px;
    }
  }
}
