.header {
  color: white;

  background-color: $black;
  background-image: url("../img/circuit-board-desktop@1x.png"), url("../img/header-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/circuit-board-desktop@2x.png"), url("../img/header-desktop@2x.png");
  }

  .header__nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 228px;
    padding-top: 31px;

    text-align: left;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-width: 430px;
    max-width: 60%;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  li {
    margin-left: 85px;
  }

  svg {
    margin-right: 20px;

    fill: $blue;
  }

  .header__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    color: white;
    text-decoration: none;

    @include mono(16px, 18px);

    &:hover,
    &:focus {
      @include hover;
    }

    &:hover svg,
    &:focus svg {
      transition: 0.5s;

      fill: white;
    }
  }
}

@media (max-width: $tablet-width) {
  .header {
    background-image: url("../img/circuit-board-tablet@1x.png"), url("../img/header-tablet@1x.png");
    background-position: top, center;
    background-size: 100vw auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/circuit-board-tablet@2x.png"), url("../img/header-tablet@2x.png");
    }

    .header__nav {
      margin-bottom: 113px;
      padding-top: 19px;
    }

    ul {
      min-width: 82.6px;
    }

    li {
      margin-left: 34px;
    }

    svg {
      margin: 0;
    }

    .header__link {
      font-size: 0;
      line-height: 0;

      &--mail svg {
        width: 25.33px;
        height: 18.67px;
      }

      &--tel svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .header {
    background-image: url("../img/circuit-board-mobile@1x.png"), url("../img/header-mobile@1x.png");
    background-position: top right, center;
    background-size: 320px auto, 100vw auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/circuit-board-mobile@2x.png"), url("../img/header-mobile@2x.png");
    }

    .header__nav {
      margin-bottom: 231.5px;
      padding-top: 16.5px;
    }

    li {
      margin-left: 24px;
    }
  }
}
