.homescreen {
  position: relative;

  width: 718px;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: 0;
  padding-bottom: 195px;

  h1 {
    margin: 0;
    margin-bottom: 26px;

    text-transform: uppercase;
    letter-spacing: 0.07em;

    @include roboto(700, 80px, 94px);
  }

  p {
    position: relative;

    margin: 0;
    margin-bottom: 45px;
    padding: 0;
    padding-left: 97px;

    @include mono(22px, 34px);

    &::before {
      content: "";
      position: absolute;
      top: 16px;
      left: 2px;

      width: 66px;
      height: 2px;

      background-color: white;
    }
  }

  .homescreen__button {
    display: inline-block;
    width: 407px;
    margin-left: 97px;
    padding-top: 17px;
    padding-bottom: 17px;

    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;

    background-color: $blue;
    border: 1px solid $blue;
    border-radius: 5px;

    @include roboto(700, 16px, 19px);

    &:hover,
    &:focus {
      background-color: white;

      @include hover;
    }

    &--mobile {
      display: none;
    }
  }

  .homescreen__scroll {
    position: absolute;
    bottom: 46px;
    left: -39px;

    display: block;
    width: 93px;

    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;

    transform: rotate(-90deg);

    @include mono(14px, 16px);

    &:hover,
    &:focus {
      @include hover;
    }
  }
}

@media (max-width: $tablet-width) {
  .homescreen {
    width: 470px;
    margin-bottom: 162px;
    padding-bottom: 0;
    padding-left: 64px;

    h1 {
      margin-bottom: 29px;

      font-size: 60px;
      line-height: 70px;
      letter-spacing: 0.07em;
    }

    p {
      margin-bottom: 55px;
      padding-left: 50px;

      font-size: 18px;
      line-height: 156.8%;

      &::before {
        width: 33px;
      }
    }

    .homescreen__button {
      width: 379px;
      margin-left: 50px;
    }

    .homescreen__scroll {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .homescreen {
    width: 100%;
    margin-bottom: 71px;
    padding-left: 0;

    h1 {
      margin-bottom: 27px;

      font-size: 40px;
      line-height: 47px;
    }

    p {
      max-width: 406px;
      margin-bottom: 42px;

      font-size: 16px;
    }

    .homescreen__button {
      display: none;
      width: 290px;
      margin-left: 0;

      &--mobile {
        display: inline-block;
      }
    }
  }
}
