.logo {
  display: inline-block;
  margin: 0;

  vertical-align: middle;

  &:hover,
  &:focus {
    outline: none;
    cursor: default;
  }

  &--header {
    margin-right: auto;
  }

  &--footer {
    margin-bottom: 51px;
  }
}

@media (max-width: $tablet-width) {
  .logo--footer {
    margin: 0;
  }
}

@media (max-width: $mobile-width) {
  .logo {
    &--header {
      display: block;
      width: 38px;
      height: 38px;

      img {
        height: 100%;

        object-fit: cover;
        object-position: left top;
      }
    }

    &--footer {
      margin-bottom: 23px;
    }
  }
}
