.social {
  margin-right: 7%;
  padding: 0;


  ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 252px;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  li {
    margin-right: 15px;

    &:hover,
    &:focus {
      outline: none;
    }
  }

  svg {
    opacity: 0.2;
  }

  a:not(.logo) {
    font-size: 0;
    line-height: 0;

    &:hover,
    &:focus {
      @include hover;
    }

    &:hover svg,
    &:focus svg {
      opacity: 1;

      transition: 0.5s;

      fill: $blue;
    }
  }

  p {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .social {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    margin-bottom: 38px;
    padding-bottom: 22px;

    ul {
      max-width: 216px;
      margin-right: 0;
    }

    ul li:last-child {
      margin-right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -100%;

      width: 200vw;
      height: 1px;

      background-color: #626962;
      opacity: 0.5;
    }

    p {
      display: block;
      margin: 0;
      margin-left: 14px;

      text-transform: uppercase;
      letter-spacing: 0.04em;

      opacity: 0.5;

      @include mono(13px, 24px);
    }
  }
}

@media (max-width: $mobile-width) {
  .social {
    flex-direction: column;
    margin: 0;
    padding: 0;

    &::after {
      left: -15px;
    }

    p {
      margin: 0;
      margin-bottom: 31px;
    }

    ul {
      max-width: 462px;
      margin-bottom: 50px;
    }
  }
}
