.contacts {
  @include mono(15px, 25px);
  color: #1B2D37;

  h2 {
    width: 100%;
    margin: 0;
    margin-bottom: 25px;

    @include roboto(400, 15px, 16px);
    letter-spacing: 0.05em;
    text-transform: uppercase;

    text-align: left;
  }

  div {
    width: 100%;
  }

  address {
    width: 100%;
    font-style: normal;
    opacity: 0.5;
  }

  a {
    display: block;
    width: 100%;

    text-decoration: none;
    color: #1B2D37;
    opacity: 0.5;
  }
}

@media (max-width: $tablet-width) {
  .contacts {
    margin-right: 36px;
  }
}

@media (max-width: $mobile-width) {
  .contacts {
    width: 100%;
    padding: 0 15px;
    padding-top: 30px;
    margin: 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
      margin-bottom: 26px;
    }

    h2 {
      width: auto;
    }

    address {
      padding-top: 8px;
    }
  }
}
