.logo {
  display: inline-block;
  vertical-align: middle;
  margin: 0;


  &:hover,
  &:focus {
    cursor: pointer;
  }

  &--header {
    margin-right: auto;
  }

  &--footer {
    margin-bottom: 51px;
  }
}

@media (max-width: $tablet-width) {
  .logo--footer {
    margin: 0;
  }
}

@media (max-width: $mobile-width) {
  .logo {
    &--header {
      width: 38px;
    }

    &--footer {
      margin-bottom: 23px;
    }
  }
}
